.zk-index-toolbar{
background-color: rgba(var(--color-blue-rgb), 0.2);
margin:10px;
margin-bottom: 5px;
border-radius: 5px;
}

.zk-index-toolbar-block{
float:left;
align-items: center;
padding: 5px;
}

.zk-index-mermaid{
 background-color: rgba(var(--color-blue-rgb), 0.1);
 max-width: 100%; 
 margin: 10px;
 margin-top: 5px;
 border-radius: 5px;
}

.zk-index-mermaid svg { 
  margin-top: 30px;
}

.zk-index-link{
  position: relative;
  background-color: rgba(var(--color-blue-rgb), 0.2);
  margin:10px;
  margin-bottom: 5px;
  margin-top: 0px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 15px;
  width: auto;
  float:left;
}

.zk-extra-buttons{
  background-color: rgba(var(--color-blue-rgb), 0.1);
}

.zk-index-link > span {
  padding: 5px;
}

.zk-index-link > span :hover {
  background-color: rgba(var(--color-blue-rgb), 0.5);
  border-radius: 3px;
  border: 1px solid;  
}

.zK-branch-tab-select{ 
  background-color: rgba(var(--color-blue-rgb), 0.5);
  border-radius: 3px;
  border: 1px solid;
 }
 
.zk-graph-mermaid { 
  background-color: rgba(var(--color-blue-rgb), 0.1);
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zk-graph-mermaid svg { 
  margin: 5px;
}

.zk-graph-text {  
  position: fixed;
  background-color: rgba(var(--color-blue-rgb), 0.2);
  margin:5px;
  margin-top: 0px;
  border-radius: 5px;
  padding: 5px;
  width: auto;
  float:left;
}

/*settings*/
.top-buttons-div{
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding-left: 20px;
}

.top-buttons-div button{
  margin: -2px;
}

.top-buttons-div button:hover{
  background-color: var(--interactive-accent) !important;
}

.top-button-select {
  background-color: var(--interactive-accent) !important;
}

.zk-local-section{
  padding: 10px;
  display: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--color-purple-rgb), 0.2);
}